header{
    height: 100px;
    width: 100%;
    background-color: #0D6EFD;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
main{
    height: 100vh;
    background-color: burlywood;
    width: 100%;
}
aside{
    background-color: rgb(203, 153, 243);
    height: 100%;
    color: black;
    font-weight: bold;
    padding-top: 30px;
}
footer{
    height: 120px;
    width: 100%;
    background-color: #0D6EFD;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: beige;
}
.main-cont{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: rgb(130, 130, 214);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-style{
    list-style-type: none;
    width:100%;
    margin-top: 100px;
    overflow-y: hidden;
  }
  .list-items{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }